:root {
  --teal-color: #75d8a6;
  --blue-color: #3496f0;
  --gray-color: #7c7c7c;
  --dark-gray: #373a3c;
  --light-gray: #dddddd;
  --lighter-gray: #f2f2f2;
  --orange-color: #f0ad4e;
  --red-color: #d9534f;
}

html {
  font-family: "Open Sans";
  color: var(--gray-color);
}

.body-container {
  display: flex;
}

.aside {
  width: 50%;
  background-color: var(--teal-color);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__container {
  width: 300px;
}

.main__title {
  font-size: 24px;
  color: var(--gray-color);
  border-bottom: 1px solid var(--lighter-gray);
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.main__button {
  background-color: var(--blue-color);
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
}

.err__button {
  background-color: var(--blue-color);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 100px;
  padding-right: 100px;
}
.aside__img {
  width: 100%;
  max-width: 300px;
}

.mb-3 {
  display: flex;
  justify-content: space-between;
  color: var(--light-gray);
}

.text {
  color: var(--gray-color);
  display: flex;
  justify-content: flex-end;
  font-size: 16px;
}
.fa {
  font-size: 25px;
  margin-right: 10px;
  padding-top: 6px;
}

.link {
  text-decoration: none;
  color: var(--blue-color);
}

.fa-user {
  margin-right: 15px;
}

input {
  color: var(--light-gray);
}

.error-container {
  height: 100vh;
  background-color: var(--teal-color);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.go-login {
  position: relative;
  margin-left: 3%;
}

.error__img {
  padding-bottom: 50px;
}

.logo {
  width: 80px;
}

.header-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--light-gray);
  padding-left: 40px;
  padding-right: 70px;
}

.logout {
  font-size: 16px;
  text-decoration: none;
  color: var(--gray-color);
  border: 1px solid var(--light-gray);
  border-radius: 5px;
  padding: 5px 15px;
}

.view_rates {
  width: 48%;
  padding-left: 10px;
}

.blotter_view {
  width: 50%;
}

.fx__container {
  width: 100%;
  height: 94vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.subtitle {
  font-size: 20px;
  color: var(--gray-color);
  font-weight: bolder;
  padding-left: 20px;
  padding-top: 15px;
}

.box {
  background-color: white;
  border: 1px solid var(--light-gray);
  height: 230px;
  width: 360px;
  margin-bottom: 40px;
}

.six-box {
  margin-top: 30px;
  margin-right: 100px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.subtitle-black {
  font-size: 20px;
  color: black;
  padding-left: 10px;
  font-weight: bolder;
}

.subtitle-black {
  font-size: 20px;
  color: black;
  padding-left: 10px;
  font-weight: bolder;
}

.currency {
  padding-left: 10px;
  border-bottom: 1px solid var(--light-gray);
}
.nopad {
  padding-left: 0px;
}
.subsub {
  font-size: 16px;
  color: var(--gray-color);
  font-weight: bolder;
}

.sell-buy {
  display: flex;
  justify-content: space-between;
  background-color: var(--lighter-gray);
  padding-left: 10px;
  padding-right: 10px;
}

.fa-exchange {
  font-size: 13px;
  color: orange;
}

.fa-times {
  font-size: 12px;
  color: var(--gray-color);
  text-align: end;
  margin-left: 214px;
}

.fa-caret-down {
  color: var(--red-color);
  font-size: 18px;
}

.fa-caret-up {
  color: var(--teal-color);
  font-size: 18px;
}

.fa-plus {
  color: var(--lighter-gray);
  font-size: 150px;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.not {
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
  padding-top: 15px;
  margin-left: 10px;
}
.notional {
  width: 250px;
  height: 30px;
  border: 1px solid var(--light-gray);
  padding-left: 10px;
}

#start {
  border: 1px solid var(--light-gray);
  color: var(--gray-color);
}

.options {
  width: 180px;
}

#ok-btn {
  margin-left: 280px;
  margin-top: 20px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.sell-btn {
  background-color: var(--teal-color);
  border-color: var(--teal-color);
  padding-right: 20px;
  padding-left: 20px;
}

.buy-btn {
  background-color: var(--blue-color);
  border-color: var(--blue-color);
  padding-right: 20px;
  padding-left: 20px;
}

.odds {
  background-color: var(--lighter-gray);
}

.registers {
  font-size: 16px;
  border-bottom-width: 0px;
  color: var(--gray-color);
}

.table-cont {
  border-top: 1px solid var(--light-gray);
  width: 95%;
}

.antet {
  background-color: var(--blue-color);
  color: white;
}

.blotter {
  border-bottom: 1px solid var(--light-gray);
  width: 95%;
  padding-bottom: 30px;
  margin-bottom: 30px;
}
.navig {
  display: inline-block;
}

.table > :not(:first-child) {
  border-top: none;
}

.icon-arrow-combo {
  font-size: 14px;
}

.right-align {
  text-align: center;
}

.filter {
  border-right: 1px solid var(--light-gray);
  padding-right: 10px;
  margin-right: 10px;
}

.filters {
  margin-bottom: 30px;
}
