.toast-custom {
  width: 380px;
  height: 80px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 7px;
  display: grid;
  grid-template-columns: 1.3fr 6fr 0.5fr;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.08);
}

.success {
  border-left: 3px solid #47d764;
}

.error {
  border-left: 3px solid #ff355b;
}

.info {
  border-left: 3px solid #2f86eb;
}

.warning {
  border-left: 3px solid #ffc021;
}

.error i {
  color: #ff355b;
}

.info i {
  color: #2f86eb;
}

.warning i {
  color: #ffc021;
}

.toast:not(:last-child) {
  margin-bottom: 20px;
}

.outer-container,
.inner-container {
  align-self: center;
}

.outer-container i {
  font-size: 35px;
}

.success i {
  color: #47d764;
}

.inner-container p:first-child {
  color: #101020;
  font-weight: 600;
  font-size: 16px;
}

.inner-container p:last-child {
  font-size: 12px;
  font-weight: 400;
  color: #656565;
}

.toast button {
  align-self: flex-start;
  background-color: transparent;
  font-size: 20px;
  color: #656565;
  line-height: 0;
  cursor: pointer;
  margin-right: -30px;
}

/* bbb */
.tn-box {
  width: 360px;
  position: relative;
  margin: 0 auto 20px auto;
  padding: 25px 15px;
  text-align: left;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.6);
  opacity: 0;
  cursor: default;
  display: none;
}

.tn-box-color-1 {
  background: #ffe691;
  border: 1px solid #f6db7b;
}

.tn-box.tn-box-active {
  display: block;
  animation: fadeOut 5s linear forwards;
  position: absolute;
  top: 15px;
  right: 0;
}

@keyframes fadeOut {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
    transform: translateY(0px);
  }
  99% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 0;
  }
}

/* 
bootstrap toast */

.toast-container {
  top: -15px !important;
}
